@font-face {font-family: "gotham";
    src: url("@/assets/fonts/gotham/gotham-black.woff2") format("woff2"), /* chrome、firefox */
         url("@/assets/fonts/gotham/gotham-black.woff") format("woff"), /* chrome、firefox */
         url("@/assets/fonts/gotham/gotham-black.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("@/assets/fonts/gotham/gotham-black.svg#gotham-black") format("svg"); /* iOS 4.1- */
}

@font-face {
    font-family: 'jaapokki';
    src: url("@/assets/fonts/jaapokki/jaapokki-regular.woff2") format("woff2"), /* chrome、firefox */
         url("@/assets/fonts/jaapokki/jaapokki-regular.woff") format("woff"), /* chrome、firefox */
         url("@/assets/fonts/jaapokki/jaapokki-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
         url("@/assets/fonts/jaapokki/jaapokki-regular.svg#jaapokki-regular") format("svg"); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;

}

.gotham {
    font-family: "gotham","Arial Black",Arial,sans-serif;
    color : $color-secondary;
}

.jaapokki {
    font-family: "jaapokki","Arial Black",Arial,sans-serif;
    color : $color-primary;
}

p {
    font-size: 120%;
}



